.searchbar {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  border: 1px solid white;
  width: 40vw;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  margin: 30px;
}

.appbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logout-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
}
.search-input {
  width: 70%;
  border: 1px solid transparent;
  color: white;
  background-color: #282c34;
  transition: 0.1s ease-out;
  margin: 0;
}
.search-input:focus {
  border-color: #282c34;
}
.search-input:focus + label {
  color: #282c34;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.search-input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.search-button {
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 3;
  background: transparent;
  color: #1172c4;
  font-size: 14px;
  border-color: #1172c4;
  border-style: solid;
  border-width: 2px;
  border-radius: 22px;
  padding: 10px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
  font-weight: 700;
  color: #282c34;
  border-color: #282c34;
  background: white;
}

.search-button:hover {
  color: white;
  background: #282c34;
  border-color: white;
}
